@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
html,body {
	width:100%;
	height:100%;
	font-family: Helvetica;
}
p {
	font-size:15px;
	color: white;
	font-weight:lighter;
}
bold {
	font-weight:bold;
	color:white;
}
.blue_background {
	background-color: #3498DB;
}
.gray_background {
	background-color:gray;
}
.toggle_div {
	display:inline;
}

.header_container {
	 margin-right: auto;
	 margin-left: auto;
	 padding-left: 15px;
	 padding-right: 15px;
	 display: table;
 }	
.nav {
	padding-top: 30px;
	margin-bottom: 70px;
}
.nav_hamb_desktop {
	margin-top: 15px;
}
.nav_hamb_tablet {
	margin-top:15px;
	display:none;
}
.nav_desktop {
	float:left;
	margin-right:10px;
}
.nav_desktop {
	float:left;
	margin-right:10px;
	display:none;
}
.nav_p {
	margin-top: 40px;
	display: inline-block;
}
.nav_button {
	margin-top:15px;
	border-radius:15%;
	width: 90px;
	background-color: white;
	padding: 5px;
}
.nav_icon {
	color: blue;
	font-size: 15px;
	width:15px;
}
.nav_icon_right {
	color: #3498DB;
}
.nav_button_left {
	margin-right: 5px;
	color: blue;
}
.nav_button_right {
	margin-left: 5px;
	color: #3498DB;
}
section {
	margin-top:15px;
}
.section_home {
	width:100%;
	height:65%;
}
.section_home_banner {
	width: 100%;
	height:100%;
	background-image: url("../slices/desktop/image_rotate.png");
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	z-index:-1;

}
.section_home_circle {
	background-color:#D3D3D3;
	width:55px;
	height:55px;
	border-radius:50%;
	position:absolute;
	top:47%;
}
.circle_left {
	margin-left:-15px;
}
.circle_right {
	right:0;
	margin-right:-15px;
}
.section_home_arrow {
	position:absolute;
	top:50%;
}
.right_arrow {
	right:0;
}
.section_home_text {
	position:absolute;
	top:65%;
	color:white;
	margin-left:35px;
}
.section_home_h3 {
	font-size:16px;
	border: 2px solid #3498DB;
	background-color:#3498DB;
	width:60%;
	padding-left:10px;
}
.section_home_h2 {
	font-size:28px;
	line-height:30px;
}
.section_home_carrousel {
	position:absolute;
	left:47%;
	top:100%;
}
.carrousel_dot {
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50%;
	margin-left:10px;
}




/*Media Queries*/


@media screen and (min-width:768px) {
   .container {
	   width:760 !important;
   }
   .header_container {
           width: 100% ;
   }
   .toggle_div {
	   display:none;
   }
  .nav_button {
	  width:35px;
  }
  .nav_hamb_desktop {
	  display:none;
  }
  .nav_desktop {
	  display:none;
  }
  .nav_hamb_tablet {
	  display:inline;
  }
  .nav_tablet {
	  display:inline;
  }
  .section_home_arrow, .circle_left, .circle_right {
	  display:none;
  }

}
@media screen and (min-width:883px) {
   .container {
	   width:880px !important;
}
}
@media screen and (min-width:992px) {
   .container, .header_container {
           width: 951px !important;
   }
   .toggle_div {
	   display:inline;
   }
   .nav_button {
	  width:90px;
   } 
   .nav_hamb_desktop {
	  display:inline;
  }
  .nav_desktop {
	  display:inline;
  }
  .nav_hamb_tablet {
	  display:none;
  }
  .nav_tablet {
	  display:none;
  }
  .section_home_arrow, .circle_left, .circle_right {
	  display:inline;
  }
}
@media screen and (min-width:1090px) {
   .container, .header_container {
           width: 1075px !important;
    }
}

@media screen and (min-width:1215px) {
   .container, .header_container {
           width: 1200px !important;
   }
}


